[submodule "lib/lodepng"]
	path = lib/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "lib/tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
